#AnswersMenu {
  background-color: #fefefe;
  overflow: auto;
  flex-basis: 60%;
  min-width: 314px;
  height: 95%;
  border-radius: 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;}
  

@media (max-width: 650px) {
  #AnswersMenu {
    flex-basis: 60%;
    width: 95%;
  }

}